.form_wrap {
    max-width: 700px !important;
    width: 100%;
    margin: 28px auto 0 auto !important;
  }
  
  .email_field {
    width: 80%;
    padding: 5px;
     display: block;
    height: calc(3rem + 2px);
    border-radius: 0 !important;
    border: 1px solid #ced4da;
  }
  .email_field:focus {
      outline: none;
  }
  .back_forgotpassword:hover {
    background-color: #ffc700;
  }
  
  .error_message {
    color: red;
    font-size: 12px !important;
    margin-top: -23px;
    text-align: left;
      
  }
  .forgot_passwordh4 {
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
  }
  .btn_forgotpassword {
      border-radius: 0;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .back_forgotpassword {
      border-radius: 0;
      font-size: 14px;
      border-color: #ffc700;
      margin-right: 10px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .forgotpassword_p {
      font-size: 15px;
      color: #666;
      text-align: center;
      line-height: 20px;
  }
  .forgotpassword_label {
      color: #666;
      font-weight: 500;
      align-items: center;
  }
  .otp_alertbox {
    padding: 0px 5px;
    margin-left: 10px;
    margin-bottom: 4px;
    width: 54%;
    font-size: 12px;
  }

  .forgotpassword-btn {
    color: #000000; 
  }
  @media (max-width: 991px) {
    .email_block {
      text-align: center;
    }
    .label {
      text-align: left !important;
      
    }
  }
  @media only screen and (min-width: 1030px) {
      .forgotpassword_p {  
          padding: 0 82px; 
      } 
      .error_message {
        margin-top: -23px;
          text-align: left;
        }
      
  }