.ageingreport-table {
  border-collapse: "collapse";
  width: 100%;
}
.showmodal_button {
  background: none;
  border: none;
}
.download-link {
  text-decoration: underline;
  cursor: pointer;
}
.profile_heading {
  font-weight: 1000;
  font-size: 20px;
}

.mob-userdetail-containers {
  // border: 2px solid green;
  display: flex !important;
}


.nav_tabs_list.active h6 {
  color: #fff !important;
}

  
.my-order-container-pd{
    // border:2px solid green;
    padding-left: 35px !important;
    padding-right: 30px !important;
}


@media only screen and (max-width: 600px) {
    .persons-data-mob {
      margin-left: 10px;
     
    }
    .my-order-container-pd{
        // border:2px solid green;
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
  }