
.cart_item {
    /* border-bottom: 1px solid #ddd; */
    margin-bottom: -6px;
}
.p_class {
    font-size: 13px;
    font-weight: 400;
    display: block;
}
.prod_name{
    color:#666 !important;
}
.prod_name:hover{
    text-decoration: underline;
}
.qty_head {
    font-size:14px !important;
    padding-top: 10px;
    margin-right: 10px;
    font-weight: 800;
}

.plus_minus {
    font-size: 12px;
}
.quantity_btn {
    border: none;
    background-color: #ffffff;
}

.quantity_input{
    border: 1px solid #ced4da;
    padding: 5px;
    width: 45px;
    height: 28px;
    text-align: center;
    font-size: 16px;
}
.quantity_input:focus{
  outline:none;
  border-color:#007bff ;
}

.checkout_button {
    background-color:#336699;
    border: none ;
}

.hr_line {
    border:solid 0.1px black;
}

.toast_custom_css {
    margin-top: 26px;
}

@media (max-width:500px) {
    .toast_custom_css {
        margin-top: -12px !important;
    }   
}
/* 
.custom_btn_css:hover {
    border-outline: none;
}
.custom_btn_css:active {
    border: none;
} */
.compare-pipe:before {
    content: "";
    display: inline-block;
    margin: 2px 0.67375em 0;
    width: 1px;
    background-color: #aaa;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
}

 .item_action_link a {
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
 .item_action_link a:hover {
    text-decoration: none;
    color: black !important;
}
.input_checkbox {
    margin-top: 7px;
}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.addcart_item {
    width: 200px;
    height: auto;
}
.sub-total-h5{
    font-size: 16px;
}
.grey_card {
    padding: 1.5rem 1.2rem;
}
.addcart_heading {
    align-items: center;
    padding-left: 35px;
    font-size: 19px;
}
.cartlist_widthtd {
    width: 18%;
}
.cartlist_width {
width: 82%;
}
.clear_cart {
    color: #007bff !important;
    font-size: 14px;
}
.clear_cart:hover {
    text-decoration: underline;
}
.cart-total {
    margin-top:30px;
}
.missing_parts {
    font-weight: 900;
}
.cart_heading_bg {
    background-color: #f1f1f1;
}
.norecord_container {
    margin-top: 80px;
}
@media (max-width: 576px) {
    .cartlist_widthtd {
        width: 48%;
    }
    .cartlist_width {
    width: 48%;
    }
    .greycart {
        display: none;
    }
    }
    .card-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .qty-field { 
    width: 45px;
    border-radius: 3px;
    border: 1px solid #2c4152;
    }
    .sticky-sidebar {
        background-color: #efeeec;
        padding: 15px;
        height: 300px;
    }
    .ternaryTheme-CheckOutbtn {
        background-color: $themeternary-btncolor !important;
        border: 1px solid $themeternary-btncolor !important;
        color: white !important;
    }
    .table-heading {
     background-color: $themeternary-color !important;

   
    th {
        color: white !important;
        padding: 7px !important;
     }
    }
    .ternaryTheme-Clearbtn {
        background-color: $themeternary-color !important;
        border: 1px solid $themeternary-color !important;
        color: white !important;
    }
    


   
    @media only screen and (max-width: 600px) {
        .card-mob-wrapper {
          display: flex !important;
          justify-content: center !important;
        }
      }