.btn_white
{
    border: 1px solid blue !important;
    box-shadow: none !important;
}

.login_heading {
    font-weight: 800;
    font-size: 19px;
    text-transform: uppercase;
    color: #000;
}

.not_an_account {
color:#666 !important;
font-size: 14px !important; 
margin-bottom: 0;

}
.no-hover:hover{
    color: rgb(0,113,220) !important;
}

.mainFields-wrapper .get-otp a {
    /* font-size: 13px !important; */
}
.get-otp a,.mainFields-wrapper .forgot-pwd a,.text-underline {
    /* font-size: 13px !important; */
    text-decoration: underline !important;
}

.google_button {
  background-color: #ecf0f1 !important;
  width:200px !important;
  font-size:15px !important;
  line-height:18px !important;
  font-weight:500 !important;
  box-shadow:none !important;
  border: 1px solid #ecf0f1 !important;
}
.google_button:focus {
    outline: none !important;
}
.google_button:hover {
    background-color: white !important;
    border: 1px solid #ecf0f1 !important;
}
/* .google_logins {
    margin-top: 4.8rem;
} */
.error_message {
    color: red;
}
.otp_alertbox {
    padding: 0px 5px;
    margin-left: 10px;
    margin-bottom: 4px;
    width: 54%;
    font-size: 12px;
}
.login_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.login_submitbtn {
text-align: center;
}
.register_account {
    text-align: center;
}
.login_inputs {
 height: calc(2.25rem + -2px);
 border-radius: 0 !important;
}
.loginsubmit_btn {
    border-radius: 0;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}
.google_btn {
    margin-top: 4.8rem;
}

.btn-color-submit{
    background-color: #2c4152 !important
}
.reset-pass-wrapper{
    // border:2px solid red !important;
    padding-top: 50px !important;
    margin:  auto !important;
    padding-bottom: 40px !important;
}
.btn_reset{
    border: 2px solid #2c4152 !important
  
}
.border-btn-back{
    border: 2px solid #2c4152 !important;
    border-radius: 0 !important;
    font-size: 14px !important;
    margin-right: 10px !important;
    font-weight: 600 !important;
}
@media (min-width: 768px) {
    .login_btn {
        margin-left: 112px;
    }
  }
  @media (max-width: 767px) {
    .login_btn {
        margin-left: -144px;
    }
    .login_submitbtn {
        text-align: left;
        }
    .register_account {
        text-align: left;
        margin-top: -25px !important;
    }
    .google_button {
        margin-top: -26px !important;
      }
  }