.checkout_section {
    margin-top: 170px!important;
}

.order_summary_section span {
    color: gray;
}


.address_header .active a {
    background-color: red!important ;
    color: green;
}

.edit_button a {
    margin-left: 80px;
}

.edit button input {
    font-size: 30px;
}

// .place_order_button {
//     margin-top: 125px!important;
// }

.address_icon {
    border: none;
    background: none;
    width: 50px;
    /* font-size: 10px; */
}

.coupon_input {
    margin: -25px 0 0 0 ;
}

.store_balance {
    margin: -38px 0 0 0 ;
    
}